In [1]:
import pandas as pd
import numpy as np
import re
import time

from pathlib import Path
from collections import Counter

In [2]:
file_path = "Data/movies_metadata.csv"
metadata_df = pd.read_csv(file_path, low_memory=False)
metadata_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [3]:
metadata_df = metadata_df.drop(columns=["adult", "belongs_to_collection", "budget", "genres", "homepage", "original_language", "original_title", "overview", "revenue", "spoken_languages", "status", "tagline", "video", "vote_average", "vote_count"])
metadata_df.head()

,id,imdb_id,popularity,poster_path,production_companies,production_countries,release_date,runtime,title
0,862,tt0114709,21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,81.0,Toy Story
1,8844,tt0113497,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,104.0,Jumanji
2,15602,tt0113228,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,101.0,Grumpier Old Men
3,31357,tt0114885,3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,127.0,Waiting to Exhale
4,11862,tt0113041,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,106.0,Father of the Bride Part II

In [4]:
metadata_df = metadata_df.drop(columns=["imdb_id", "popularity", "poster_path", "production_companies", "production_countries"])
metadata_df.head()

      id release_date  runtime                        title
0    862   1995-10-30     81.0                    Toy Story
1   8844   1995-12-15    104.0                      Jumanji
2  15602   1995-12-22    101.0             Grumpier Old Men
3  31357   1995-12-22    127.0            Waiting to Exhale
4  11862   1995-02-10    106.0  Father of the Bride Part II

In [6]:
metadata_df.isnull().count()

id              45466
release_date    45466
runtime         45466
title           45466
dtype: int64

In [7]:
metadata_df = metadata_df.dropna()
metadata_df.count()

id              45130
release_date    45130
runtime         45130
title           45130
dtype: int64

In [9]:
metadata_df.to_csv("Data/movies_metadata_clean.csv")