In [1]:
# Importing Potentially Used Basic Dependencies
import pandas as pd
import numpy as np
from pathlib import Path
from collections import Counter

# Import Dependencies for Algorithms
from sklearn.svm import SVR
from sklearn.linear_model import Lasso
from sklearn.gaussian_process import GaussianProcessRegressor
from sklearn.tree import ExtraTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
tags_file_path = ('Data/ratings.csv')
ratings_file_path = ('Data/tags.csv')
movies_file_path = ('Data/movies.csv')
tags_df = pd.read_csv(tags_file_path)
ratings_df = pd.read_csv(ratings_file_path)
movies_df = pd.read_csv(movies_file_path)

In [3]:
tags_df.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [4]:
ratings_df.head()

   userId  movieId           tag   timestamp
0      14      110          epic  1443148538
1      14      110      Medieval  1443148532
2      14      260        sci-fi  1442169410
3      14      260  space action  1442169421
4      14      318  imdb top 250  1442615195

In [5]:
movies_df = movies_df.set_index(['movieId'])
movies_df.head()

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy

In [6]:
tags = tags_df.drop(columns=['userId', 'timestamp'])
tags = tags.set_index(["movieId"])
tag_df = tags.iloc[:50000]
tag_df.count()
tag_df.head()

         rating
movieId
307         3.5
481         3.5
1091        1.5
1257        4.5
1449        4.5

In [7]:
ratings = ratings_df.drop(columns=['userId', 'timestamp'])
ratings = ratings.set_index(["movieId"])
rating_df = ratings.iloc[:50000]
rating_df.count()

tag    50000
dtype: int64

In [8]:
df = rating_df.join(tag_df, on="movieId", how="right")
df.head()

        movieId                tag  rating
307.0       307             family     3.5
307.0       307         reflective     3.5
NaN         481                NaN     3.5
1091.0     1091  Quirky and funny.     1.5
1091.0     1091        catastrophe     1.5

In [9]:
movies = df.join(movies_df, on="movieId", sort=True)
movies.reset_index(inplace=True)
movies = movies.dropna()
movies = movies.drop(columns="index")

,movieId,tag,rating,title,genres
1143141,189363,women,3.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143142,189363,action,3.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143143,189363,all-female,3.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143144,189363,all-star cast,3.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143145,189363,anne hathaway,3.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143146,189363,Cate Blanchett,3.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143147,189363,comedy,3.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143148,189363,crime,3.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143149,189363,franchise,3.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143150,189363,heist,3.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143151,189363,sandra bullock,3.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143152,189363,spin off,3.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143153,189363,strong female lead,3.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143154,189363,all-female,3.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143155,189363,comedy,3.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143156,189363,great soundtrack,3.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143157,189363,heist,3.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143158,189363,new york,3.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143159,189363,strong female lead,3.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143160,189363,women,3.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143161,189363,all-female,5.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143162,189363,Anti-Hero Team,5.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143163,189363,heist,5.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143164,189363,Hidden in Plain Sight,5.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143165,189363,new york,5.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143166,189363,spin off,5.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143167,189363,The Caper,5.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143168,189363,the met gala,5.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143169,189363,women,5.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143170,189363,action,5.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143171,189363,all-female,5.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143172,189363,all-star cast,5.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143173,189363,anne hathaway,5.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143174,189363,Cate Blanchett,5.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143175,189363,comedy,5.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143176,189363,crime,5.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143177,189363,franchise,5.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143178,189363,heist,5.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143179,189363,sandra bullock,5.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143180,189363,spin off,5.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143181,189363,strong female lead,5.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143182,189363,all-female,5.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143183,189363,comedy,5.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143184,189363,great soundtrack,5.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143185,189363,heist,5.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143186,189363,new york,5.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143187,189363,strong female lead,5.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143188,189363,women,5.0,Ocean's 8 (2018),Action|Comedy|Crime|Thriller
1143189,189399,drugs,2.5,Ibiza (2018),Comedy|Romance
1143190,189399,Richard Madden,2.5,Ibiza (2018),Comedy|Romance

In [10]:
len(movies["movieId"].unique())

3513

In [11]:
film_ratings = movies.groupby("movieId").mean().reset_index()
film_ratings.head()

   movieId    rating
0        1  3.896552
1        2  3.119565
2        4  4.333333
3        6  3.764706
4        7  2.934783

In [17]:
genres = movies.groupby("genres")
genres.head()

,movieId,tag,rating,title,genres
0,1,animated,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,buddy movie,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,1,Cartoon,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,1,cgi,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,1,comedy,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...
1143095,187595,cinematography,3.5,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi
1143096,187595,Donald Glover,3.5,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi
1143097,187595,Emilia Clarke,3.5,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi
1143098,187595,prequel,3.5,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi
1143099,187595,spin off,3.5,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi